.wrapper {
  padding: 40px 80px;
  .container {
    border-radius: 7px;
    height: 500px;
    width: 80%;
    .first-section {
      height: 50px;
      width: 100%;
      border-bottom: 1px solid #505050;
    }
    .second-section {
      height: 445px;
      width: 100%;
      overflow: auto;
    }
  }
}
