$main-color: #4dd6b6;

.main-register {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to right, darkgray);

  .register-container {
    height: 90vh;
    width: 45vw;
    background: antiquewhite;
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    .link {
      text-decoration: none;
      color: darkcyan;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 1rem;
      margin: 2rem;
      box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
      height: 87%;
      width: 70%;

      .title {
        font-size: 22px;
        font-weight: 600;
      }

      .inpt {
        display: block;
        border: none;
        height: 2rem;
        width: 70%;
        margin: auto;
        margin-bottom: 1.5rem;
        padding: 0.2rem 1rem;
        font-size: small;
        color: gray;
        transition: all 0.1s ease-in-out;
        &:focus {
          outline: none;
          border: none;
        }
        &:hover {
          outline: 0.5px solid $main-color;
          box-shadow: 2px 2px 9px -2px $main-color;
        }
      }

      .radi {
        font-size: medium;
        color: darkcyan;
        margin-bottom: 0.7rem;
        padding: 0.2rem 0.7rem;
      }

      .labl {
        display: block;
        text-align: left;
        width: 78%;
        margin: auto;
        font-size: small;
        color: darkcyan;
        margin-bottom: 0.5rem;
      }

      #sub_but {
        width: 77%;
        background: $main-color;
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease;
        &:hover {
          box-shadow: 4px 3px 9px -1px gray;
          transform: translateY(-5px);
        }
      }

      .footer {
        font-weight: 600;
      }
    }
  }
}
