body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.client-management {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pad-8px {
  padding: 8px;
}
.pad-15px {
  padding: 15px;
}
